@charset "UTF-8";

body {
    background-color: #1D1D1D;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
}

.videos {
    text-align: center;
}